---
layout: index
title: Jobs
group: navigation
tagline: 
tags : [list, components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js:
keywords: components, demo

--- 
{% include JB/setup %}
    <!--Content Area Start-->
    <div id="content">

      
      <div class="container">
        <div class="divider-info ptb">
          <div class="page-header-title">
            <h2 class="heading-title text-center">Jobs</h2>
          </div>

<div class="row row-spacer justify-content-md-center">
  <div class="col-md-6 col-sm-6 col-xs-12">

    <p>Our graduate students are frequently hired for Teaching Assistant (TA) positions in the following departments/faculties:</p>

    <ul>
      <li>
        The <a href="https://www.statistics.utoronto.ca/employment-opportunities/cupe-positions-unit-1">
          Department of Statistical Sciences, University of Toronto (St. George)
        </a>
      </li>
      <li>
        The <a href="https://www.utm.utoronto.ca/math-cs-stats/jobs">
          Department of Mathematical and Computational Sciences, University of Toronto (Mississauga)
        </a>
      </li>
      <li>
        The <a href="https://www.utsc.utoronto.ca/cms/employment">
          Department of Computer and Mathematical Science, University of Toronto (Scarborough)
        </a>
      </li>        
      <li>
        The <a href="https://www.dlsph.utoronto.ca/students/current-students/ta-opportunities/">
          Dalla Lana School of Public Health, University of Toronto
        </a>
      </li>
    </ul>

    <p>
      Deadlines for Fall/Winter TA applications are typically in mid-July, although positions may be posted throughout the year.
      A full list of CUPE Local 3902 Unit 1 positions and instructions on how to apply is available
      <a href="https://unit1.hrandequity.utoronto.ca/">here</a>.
    </p>

  </div>
</div>

            {% comment %}
          <div class="list-wrap">
            {% for list in site.data.jobs %}
            <div class="row row-spacer justify-content-md-center"">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="list-title">{{ list.group }}</h3>
                <ul class="list-style arrow-list arrow-list-four pl-0">
                  {% for element in list.list %}
                  <li>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ element.entry }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
            {% endcomment %}


        </div>
      </div>
    </div>
    <!--Content Area End-->
