---
layout: index
title: Publications
group: navigation
tagline: 
tags : [list, components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js:
keywords: components, demo
--- 
{% include JB/setup %}
    <!--Content Area Start-->
    <div id="content">
      <div class="container">
        <div class="divider-info ptb">
          <div class="page-header-title">
            <h2 class="heading-title text-center">Publications</h2>
          </div>

          <!-- Note about underscored author right after the Publications title -->
          <div class="row row-spacer justify-content-md-center">
              <div class="col-md-6 col-sm-6 col-xs-12">
            <p><strong>Note:</strong> An underscored author name indicates our biostatistics student. If you are a biostatistics student and would like to advertise a recent paper you submitted or published, please use the following <a href="https://forms.gle/SGxbqATt5QtLjobp8">form</a>.</p>
              </div>
          </div>

          <div class="list-wrap">
            {% for list in site.data.publication %}
            <div class="row row-spacer justify-content-md-center"">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="list-title">{{ list.group }}</h3>
                <ul class="list-style arrow-list arrow-list-four pl-0">
                  {% for element in list.list %}
                  <li>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ element.entry }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
    <!--Content Area End-->
